{% comment %} <div class="col-lg">
  <h2 class="mb-3">{{ include.title }}</h2>
    {% for skill in include.source %}
      <div class="skill">
        <p>{{ skill.name }}</p>
        <div class="skill-bar skill-bar-{{ skill.color }} skill-{{ skill.percentage }} wow animated slideInLeft" data-wow-delay="{{ forloop.index | divided_by: 20.0 }}">
          <span>{{ skill.percentage }}%</span>
        </div>
      </div>
    {% endfor %}
</div> {% endcomment %}

<section class="content-section text-center" id="skills">
  <div class="container">
    <div class="content-section-heading">
      <h2 class="mb-2">Skills</h2>
    </div>
    <div class="container text-center mb-5">
      <p class="lead">Below are some of my skills, and I'm always looking to learn more.</p>
    </div>
    <div class="row" style="margin-bottom: 48px">
      {% for item in include.source %}
        <div class="col-lg-4 col-md-6 mb-5">
          <span class="service-icon rounded-circle mx-auto mb-3 text-secondary">
            {{ item.icon }}
          </span>
          <h4>
            <b>{{ item.title }}</b>
          </h4>
          <p class="text-faded mb-0">{{ item.description }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>