{% comment %} <div class="col mt-4">
  <div class="timeline-body">
    {% for item in site.data.timeline %}
      <div class="timeline-item">
        <div class="content">
          <h2>{{ item.title }}</h2>
          <h6 class="date">{{ item.from }} — {{ item.to }}</h6>
          <p>{{ item.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div> {% endcomment %}

<!-- Timeline Section -->
    <section class="content-section" id="timeline">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading mb-2">Timeline</h2>
            <!--<p class="lead mb-5">A little bit about me...</p>-->
          </div>
        </div>
        <div class="container text-center mb-5">
          <p class="lead">A short summary of my work experience..</p>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li class="timeline-inverted" style="margin-bottom:32px">
                <a href="https://google.com/" target="blank">
                  <div class="timeline-image">
                    <img class="img-circle img-responsive" src="http://www.ericwadkins.com/img/google_square.png" alt="Google">
                  </div>
                </a>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5>2019 - Present</h5>
                    <h4 class="subheading">
                      <a href="https://media.mit.edu/people/ewadkins/" target="blank">Google</a>,<br>Mountain View, CA</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="lead">I currently work as a Software Engineer at Google headquarters in Mountain View, California.</p>
                  </div>
                </div>
              </li>
              <li>
                <a href="https://media.mit.edu/" target="blank">
                  <div class="timeline-image">
                    <img class="img-circle img-responsive" src="http://www.ericwadkins.com/img/media_lab_square.png" alt="MIT Media Lab">
                  </div>
                </a>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5>2018 - Present</h5>
                    <h4 class="subheading">
                      <a href="https://media.mit.edu/people/ewadkins/" target="blank">MIT Media Lab</a>, Cambridge, MA</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="lead"><!--For the duration of my graduate degree program, I will be working with the Fluid Interfaces Group in the MIT Media Lab. -->My research on the <b><a href="https://www.media.mit.edu/projects/alterego/overview/" target="blank">AlterEgo project</a></b>, which I demoed at TED 2019, focuses on developing neural network models for a wearable system that allows humans to converse silently, via electrical signals sent by the brain during internal articulation, with machines, AI assistants, and other people. <a href="https://media.mit.edu/people/ewadkins" target="blank"><b>media.mit.edu/people/ewadkins</b></a></p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <a href="https://www.nasa.gov/" target="blank">
                  <div class="timeline-image">
                    <img class="img-circle img-responsive" src="http://www.ericwadkins.com/img/nasa_square4.png" alt="NASA">
                  </div>
                </a>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5>Winter 2018</h5>
                    <h4 class="subheading">
                      <a href="https://www.nasa.gov/" target="blank">NASA</a>, Goddard Space Flight Center, MD</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="lead">For Winter 2018, I was a machine learning intern at the NASA Goddard Space Flight Center, where I used machine learning to relate satellite measurements to applications of aerosol science. My project focused on using data from the MODIS Terra and Aqua satellites and GEOS-5 forecasting model to create a neural network model for the prediction of cloud effective radius.<!--The Global Modeling and Assimilation Office at NASA uses these measurements in global climate models to answer some of the fundamental questions of climate science.--></p>
                  </div>
                </div>
              </li>
              <li>
                <a href="https://google.com/about" target="blank">
                  <div class="timeline-image">
                    <img class="img-circle img-responsive" src="http://www.ericwadkins.com/img/google_square.png" alt="Google">
                  </div>
                </a>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5>Summer 2017</h5>
                    <h4 class="subheading">
                      <a href="https://google.com/about/" target="blank">Google</a>, Los Angeles, CA</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="lead">In Summer 2017, I interned with Google as a Software Engineering Intern in their Venice, Los Angeles office. As a part of the YouTube team, my work included performance enchancements to some of YouTube's internal infrastructure.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <a href="http://www.rle.mit.edu/" target="blank">
                  <div class="timeline-image">
                    <img class="img-circle img-responsive" src="http://www.ericwadkins.com/img/rle_square.png" alt="Research Laboratory of Electronics (RLE)">
                  </div>
                </a>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5>2017 - 2018</h5>
                    <h4 class="subheading">
                      <a href="http://www.rle.mit.edu/" target="blank">Research Laboratory of Electronics</a>,<br>Cambridge, MA</h4>
                  </div>
                  <div class="timeline-body">
                  <p class="lead">As a MITRE Undergraduate Research and Innovation Scholar in the Quantum Photonics Laboratory, my work included developing machine learning and computer vision-enabled systems to automate laboratory processes, such as the detection of nitrogen-vacancy centers in diamond. Most recently, I led a year-long project into the creation of a smart microscopy system to enable autonomous laboratory experiments.</p>
                  </div>
                </div>
              </li>
              <li>
                <a href="https://www.csail.mit.edu/" target="blank">
                  <div class="timeline-image">
                    <img class="img-circle img-responsive" src="http://www.ericwadkins.com/img/csail_square.png" alt="Computer Science and Artificial Intelligence Laboratory (CSAIL)">
                  </div>
                </a>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5>2016</h5>
                    <h4 class="subheading">
                      <a href="https://www.csail.mit.edu/" target="blank">Computer Science and Artificial Intelligence Laboratory</a>,<br>Cambridge, MA</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="lead">As an undergraduate researcher, I worked with CSAIL's InfoLab Group to advance their goal of developing intelligent interactive software systems that help people access information and solve problems on human terms. My work there was primarily focused on a video action recognition system.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <a href="https://www.diameterhealth.com/" target="blank">
                  <div class="timeline-image">
                    <img class="img-circle img-responsive" src="http://www.ericwadkins.com/img/diameterhealth_square2.png" alt="Software Engineer Intern at Diameter Health">
                  </div>
                </a>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5>2015 - 2017</h5>
                    <h4 class="subheading">
                      <a href="https://www.diameterhealth.com/" target="blank">Diameter Health</a>,<br> Newton, MA</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="lead">Starting with a Summer 2015 software engineering internship and advancing into a part-time position throughout the year and up to February 2017, my work at Diameter Health includes designing and developing automated predictive tools and full-stack applications that serve the healthcare industry through their use of clinical intelligence.</p>
                  </div>
                </div>
              </li>
              <li>
                <a href="http://www.mit.edu/" target="blank">
                  <div class="timeline-image">
                    <img class="img-circle img-responsive" src="http://www.ericwadkins.com/img/mit_logo_square.jpg" alt="Massachusetts Institute of Technology (MIT)">
                  </div>
                </a>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5>2014 - Present</h5>
                    <h4 class="subheading"><a href="http://www.mit.edu/" target="blank">Massachusetts Institute of Technology</a>,<br>Cambridge, MA</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="lead">As a graduate of the Class of 2018 and a M.Eng. candidate in Computer Science/Artificial Intelligence, I continue to take advantage of many of the interesting learning opportunities that MIT has to offer. I am particularly interested in artificial intelligence and machine learning, and have spent much of my time here focusing on these fields.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>