{% comment %} <div class="col mt-4">
  <div class="timeline-body">
    {% for item in site.data.timeline %}
      <div class="timeline-item">
        <div class="content">
          <h2>{{ item.title }}</h2>
          <h6 class="date">{{ item.from }} — {{ item.to }}</h6>
          <p>{{ item.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div> {% endcomment %}

<!-- Timeline Section -->
<section class="content-section" id="timeline">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading mb-2">Timeline</h2>
        <!--<p class="lead mb-5">A little bit about me...</p>-->
      </div>
    </div>
    <div class="container text-center mb-5">
      <p class="lead">A short summary of my journey so far..</p>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          {% assign timeline = site.data.timeline | sort: 'weight' %}
          {% for item in timeline %}
            {% if item.inverted %}
              {% if item.weight == 1 %}
                <li class="timeline-inverted" style="margin-bottom:32px;">
              {% else %}
                <li class="timeline-inverted">
              {% endif %}
            {% else %}
              <li>
            {% endif %}
              <a href="{{ item.url }}" target="_blank">
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="{{ item.image }}" alt="{{ item.image_alt }}">
                </div>
              </a>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h5>{{ item.duration }}</h5>
                  <h4 class="subheading">
                    <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>, <br>{{ item.location }}</h4>
                </div>
                <div class="timeline-body">
                  <p class="lead">{{ item.description }}</p>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>