{% comment %} <div class="col mt-4">
  <div class="timeline-body">
    {% for item in site.data.timeline %}
      <div class="timeline-item">
        <div class="content">
          <h2>{{ item.title }}</h2>
          <h6 class="date">{{ item.from }} — {{ item.to }}</h6>
          <p>{{ item.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div> {% endcomment %}

<!-- Timeline Section -->
    <section class="content-section" id="timeline">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading mb-2">Timeline</h2>
            <!--<p class="lead mb-5">A little bit about me...</p>-->
          </div>
        </div>
        <div class="container text-center mb-5">
          <p class="lead">A short summary of my journey so far..</p>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li class="timeline-inverted" style="margin-bottom:32px">
                <a href="https://inclusion.cs.umd.edu/outreach/ai4all" target="_blank">
                  <div class="timeline-image">
                    <img class="img-circle img-responsive" src="https://res.cloudinary.com/ramaprashanth/image/upload/v1583377350/website_assets/ai4all_logo.png" alt="AI4ALL">
                  </div>
                </a>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5>Summer 2019</h5>
                    <h4 class="subheading">
                      <a href="https://inclusion.cs.umd.edu/outreach/ai4all" target="_blank">AI4ALL</a>, <br>University of Maryland, College Park</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="lead">As a Mentor for ~20 high school students, taught and trained them to build a boiler-plate AI algorithm for hand gestures mimicking with the NAO robot. </p>
                  </div>
                </div>
              </li>
              <li>
                <a href="http://prg.cs.umd.edu/" target="_blank">
                  <div class="timeline-image">
                    <img class="img-circle img-responsive" src="https://res.cloudinary.com/ramaprashanth/image/upload/v1583375250/website_assets/prg_logo.png" alt="PRG">
                  </div>
                </a>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5>Mar 2018 - Aug 2019</h5>
                    <h4 class="subheading">
                      <a href="http://prg.cs.umd.edu/" target="_blank">Perception and Robotics Group</a>,<br>University of Maryland, College Park</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="lead">I interned as Research Assistant focusing on 3D dense object recognition and tracking revolving around real-time physical task execution using the Baxter robot.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <a href="https://umd.edu/" target="_blank">
                  <div class="timeline-image">
                    <img class="img-circle img-responsive" src="https://res.cloudinary.com/ramaprashanth/image/upload/v1583346259/website_assets/umd_logo.jpg" alt="UMD">
                  </div>
                </a>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5>2019 - 2020</h5>
                    <h4 class="subheading">
                      <a href="https://umd.edu/" target="_blank">University of Maryland</a>,<br>College Park, MD</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="lead">As a M.Eng. Robotics candidate in <a href="https://robotics.umd.edu/" target="_blank">Maryland Robotics Center</a>, I am particularly interested in Computer Vision and Deep Learning, and have spent much of my time here focusing on these fields. </p>
                  </div>
                </div>
              </li>
              <li>
                <a href="https://www.grabbngo.com/" target="_blank">
                  <div class="timeline-image">
                    <img class="img-circle img-responsive" src="https://res.cloudinary.com/ramaprashanth/image/upload/v1583383861/website_assets/grabbngo_logo.jpg" alt="GrabbnGo">
                  </div>
                </a>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5>Mar 2018 - Jan 2019</h5>
                    <h4 class="subheading">
                      <a href="https://www.grabbngo.com/" target="_blank">GrabbnGo</a>,<br>Bangalore, India</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="lead"> As Principal Software Engineer, I lead the conception of backend systems for the hyper-local takeaway service aggregator and spearheaded the transition towards big-data and microservices architecture.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <a href="https://www.ninjacart.in/" target="_blank">
                  <div class="timeline-image">
                    <img class="img-circle img-responsive" src="https://res.cloudinary.com/ramaprashanth/image/upload/v1583345916/website_assets/ninjacart_logo.png" alt="Ninjacart">
                  </div>
                </a>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5>Jun 2015 - Jan 2018</h5>
                    <h4 class="subheading">
                      <a href="https://www.ninjacart.in/" target="_blank">Ninjacart</a>,<br>Bangalore, India</h4>
                  </div>
                  <div class="timeline-body">
                  <p class="lead">As a Founding Engineer, conceived the key technologies that formed the backbone of the customer app and in-house products for the seamless supply chain operations. </p>
                  </div>
                </div>
              </li>
              <li>
                <a href="https://www.facebook.com/myshouuut/" target="_blank">
                  <div class="timeline-image">
                    <img class="img-circle img-responsive" src="https://res.cloudinary.com/ramaprashanth/image/upload/v1583345195/website_assets/shout_logo.png" alt="Shout">
                  </div>
                </a>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5>Jun 2013 - Jun 2015</h5>
                    <h4 class="subheading">
                      <a href="https://www.facebook.com/myshouuut/" target="_blank">Shout</a>,<br>Bangalore, India</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="lead">As the primary founder/developer of the hyper-local micro-blogging and networking service, developed end-to-end iOS, Android and Web applications. </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <a href="https://www.annauniv.edu/" target="_blank">
                  <div class="timeline-image">
                    <img class="img-circle img-responsive" src="https://res.cloudinary.com/ramaprashanth/image/upload/v1583344722/website_assets/Anna_University_Logo.png" alt="Anna University">
                  </div>
                </a>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5>2009 - 2013</h5>
                    <h4 class="subheading">
                      <a href="https://www.annauniv.edu/" target="_blank">College of Engineering, Guindy, Anna University</a>,<br> Chennai, India</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="lead">As a B.Eng. Electronics and Communication Engineering undergraduate, my interests revolved around Computer Architecture, Signal Processing and Medical Electronics. I was also the Organising Secretary of the department and Marketing Head of the College's Tech Forum. </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>